USE [master]
GO
/****** Object:  Database [Viajes2025_Grupo2]    Script Date: 7/9/2025 12:16:14 ******/
CREATE DATABASE [Viajes2025_Grupo2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Viajes2025_Grupo2', FILENAME = N'/var/opt/mssql/data/Viajes2025_Grupo2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Viajes2025_Grupo2_log', FILENAME = N'/var/opt/mssql/data/Viajes2025_Grupo2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Viajes2025_Grupo2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Viajes2025_Grupo2]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 7/9/2025 12:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ciudad] [varchar](50) NOT NULL,
	[provincia] [varchar](20) NOT NULL,
	[pais] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medio_pago]    Script Date: 7/9/2025 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medio_pago](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Micro]    Script Date: 7/9/2025 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Micro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_interno] [int] NOT NULL,
	[capacidad] [int] NOT NULL,
	[empresa] [varchar](39) NOT NULL,
	[id_tipo_asiento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pasajero]    Script Date: 7/9/2025 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pasajero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[apellido] [varchar](30) NOT NULL,
	[dni] [int] NOT NULL,
	[nacionalidad] [varchar](30) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 7/9/2025 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_reserva] [date] NOT NULL,
	[usuario_id] [int] NOT NULL,
	[viaje_reserva] [int] NOT NULL,
	[medio_pago_reserva] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva_pasajero]    Script Date: 7/9/2025 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva_pasajero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_reserva] [int] NOT NULL,
	[id_pasajero] [int] NOT NULL,
	[numero_asiento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_asiento]    Script Date: 7/9/2025 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_asiento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/9/2025 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contrasena] [varchar](20) NOT NULL,
	[mail] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viaje]    Script Date: 7/9/2025 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viaje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[salida] [datetime] NOT NULL,
	[llegada] [datetime] NOT NULL,
	[precio] [int] NOT NULL,
	[origen] [int] NOT NULL,
	[destino] [int] NOT NULL,
	[id_micro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([id], [ciudad], [provincia], [pais]) VALUES (1, N'Buenos Aires', N'Buenos Aires', N'Argentina')
INSERT [dbo].[Ciudad] ([id], [ciudad], [provincia], [pais]) VALUES (2, N'Córdoba', N'Córdoba', N'Argentina')
INSERT [dbo].[Ciudad] ([id], [ciudad], [provincia], [pais]) VALUES (3, N'Rosario', N'Santa Fe', N'Argentina')
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
GO
SET IDENTITY_INSERT [dbo].[Medio_pago] ON 

INSERT [dbo].[Medio_pago] ([id], [tipo]) VALUES (1, N'tarjeta de débito')
INSERT [dbo].[Medio_pago] ([id], [tipo]) VALUES (2, N'crédito')
INSERT [dbo].[Medio_pago] ([id], [tipo]) VALUES (3, N'Mercado Pago')
SET IDENTITY_INSERT [dbo].[Medio_pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Micro] ON 

INSERT [dbo].[Micro] ([id], [numero_interno], [capacidad], [empresa], [id_tipo_asiento]) VALUES (1, 101, 50, N'Chevallier', 1)
INSERT [dbo].[Micro] ([id], [numero_interno], [capacidad], [empresa], [id_tipo_asiento]) VALUES (2, 102, 55, N'Flecha Bus', 2)
INSERT [dbo].[Micro] ([id], [numero_interno], [capacidad], [empresa], [id_tipo_asiento]) VALUES (3, 103, 60, N'Via Bariloche', 3)
SET IDENTITY_INSERT [dbo].[Micro] OFF
GO
SET IDENTITY_INSERT [dbo].[Pasajero] ON 

INSERT [dbo].[Pasajero] ([id], [nombre], [apellido], [dni], [nacionalidad], [fecha_nacimiento]) VALUES (1, N'Lucía', N'González', 35478965, N'Argentina', CAST(N'1992-04-15' AS Date))
INSERT [dbo].[Pasajero] ([id], [nombre], [apellido], [dni], [nacionalidad], [fecha_nacimiento]) VALUES (2, N'Martín', N'Pereira', 28956321, N'Uruguay', CAST(N'1987-11-23' AS Date))
INSERT [dbo].[Pasajero] ([id], [nombre], [apellido], [dni], [nacionalidad], [fecha_nacimiento]) VALUES (3, N'Carla', N'Fernández', 41236589, N'Chile', CAST(N'1998-07-09' AS Date))
SET IDENTITY_INSERT [dbo].[Pasajero] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([id], [fecha_reserva], [usuario_id], [viaje_reserva], [medio_pago_reserva]) VALUES (1, CAST(N'2025-08-20' AS Date), 1, 1, 1)
INSERT [dbo].[Reserva] ([id], [fecha_reserva], [usuario_id], [viaje_reserva], [medio_pago_reserva]) VALUES (2, CAST(N'2025-08-21' AS Date), 2, 2, 2)
INSERT [dbo].[Reserva] ([id], [fecha_reserva], [usuario_id], [viaje_reserva], [medio_pago_reserva]) VALUES (3, CAST(N'2025-08-22' AS Date), 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva_pasajero] ON 

INSERT [dbo].[Reserva_pasajero] ([id], [id_reserva], [id_pasajero], [numero_asiento]) VALUES (1, 1, 1, 12)
INSERT [dbo].[Reserva_pasajero] ([id], [id_reserva], [id_pasajero], [numero_asiento]) VALUES (2, 2, 2, 5)
INSERT [dbo].[Reserva_pasajero] ([id], [id_reserva], [id_pasajero], [numero_asiento]) VALUES (3, 3, 3, 18)
SET IDENTITY_INSERT [dbo].[Reserva_pasajero] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_asiento] ON 

INSERT [dbo].[Tipo_asiento] ([id], [tipo]) VALUES (1, N'cama')
INSERT [dbo].[Tipo_asiento] ([id], [tipo]) VALUES (2, N'semicama')
INSERT [dbo].[Tipo_asiento] ([id], [tipo]) VALUES (3, N'ejecutivo')
SET IDENTITY_INSERT [dbo].[Tipo_asiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [contrasena], [mail]) VALUES (1, N'clave123', N'lucia.gonzalez@mail.com')
INSERT [dbo].[Usuario] ([id], [contrasena], [mail]) VALUES (2, N'martin2025', N'martin.pereira@mail.com')
INSERT [dbo].[Usuario] ([id], [contrasena], [mail]) VALUES (3, N'carla98', N'carla.fernandez@mail.com')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Viaje] ON 

INSERT [dbo].[Viaje] ([id], [salida], [llegada], [precio], [origen], [destino], [id_micro]) VALUES (1, CAST(N'2025-09-01T08:00:00.000' AS DateTime), CAST(N'2025-09-01T16:00:00.000' AS DateTime), 12000, 1, 2, 1)
INSERT [dbo].[Viaje] ([id], [salida], [llegada], [precio], [origen], [destino], [id_micro]) VALUES (2, CAST(N'2025-09-05T09:30:00.000' AS DateTime), CAST(N'2025-09-05T20:00:00.000' AS DateTime), 18000, 2, 3, 2)
INSERT [dbo].[Viaje] ([id], [salida], [llegada], [precio], [origen], [destino], [id_micro]) VALUES (3, CAST(N'2025-09-10T07:00:00.000' AS DateTime), CAST(N'2025-09-10T19:00:00.000' AS DateTime), 20000, 3, 4, 3)
SET IDENTITY_INSERT [dbo].[Viaje] OFF
GO
/****** Object:  Index [Reserva_index_1]    Script Date: 7/9/2025 12:16:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Reserva_index_1] ON [dbo].[Reserva]
(
	[viaje_reserva] ASC,
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Reserva_pasajero_index_2]    Script Date: 7/9/2025 12:16:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Reserva_pasajero_index_2] ON [dbo].[Reserva_pasajero]
(
	[id_reserva] ASC,
	[numero_asiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Usuario_index_0]    Script Date: 7/9/2025 12:16:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Usuario_index_0] ON [dbo].[Usuario]
(
	[mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Micro]  WITH CHECK ADD FOREIGN KEY([id_tipo_asiento])
REFERENCES [dbo].[Tipo_asiento] ([id])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([medio_pago_reserva])
REFERENCES [dbo].[Medio_pago] ([id])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([viaje_reserva])
REFERENCES [dbo].[Viaje] ([id])
GO
ALTER TABLE [dbo].[Reserva_pasajero]  WITH CHECK ADD FOREIGN KEY([id_pasajero])
REFERENCES [dbo].[Pasajero] ([id])
GO
ALTER TABLE [dbo].[Reserva_pasajero]  WITH CHECK ADD FOREIGN KEY([id_reserva])
REFERENCES [dbo].[Reserva] ([id])
GO
ALTER TABLE [dbo].[Viaje]  WITH CHECK ADD FOREIGN KEY([destino])
REFERENCES [dbo].[Ciudad] ([id])
GO
ALTER TABLE [dbo].[Viaje]  WITH CHECK ADD FOREIGN KEY([id_micro])
REFERENCES [dbo].[Micro] ([id])
GO
ALTER TABLE [dbo].[Viaje]  WITH CHECK ADD FOREIGN KEY([origen])
REFERENCES [dbo].[Ciudad] ([id])
GO
USE [master]
GO
